<div class="jumbotron jumbotron-fluid latest-updates">
    <div class="container latest-updates-container tw-flex tw-flex-col tw-gap-4 tw-mx-auto">
        <p class="latest-updates-title">Latest Updates</p>
        <p class="latest-updates-list">2024-Oct-17 : Published the <a href='course/3/article/1/500050/false' target='_blank' class="latest-updates-link">Intro to ASP.NET Core Web APIs</a> crash course</p>
        <p class="latest-updates-list">2024-Oct-13 : Published the <a href='course/1/article/1/500000/false' target='_blank' class="latest-updates-link">Intro To Object Oriented Programming</a> crash course</p>
    </div>
</div>

@code {

}

<style>
    .latest-updates {
        padding-left: 100px;
        background-color: #D62A2A;
        color: white;
        font-weight: 500;
    }

    .latest-updates-container {
        padding: 10px 0 5px 0;
    }


    .latest-updates-title {
        font-family: Roboto, sans-serif;
        font-size: 20px;
    }

    .latest-updates-list {
        margin-top: -15px;
        font-family: Roboto, sans-serif;
        font-size: 15px;
    }

    .latest-updates-link {
        color: black;
        font-weight: 600;
    }

    .latest-updates-link {
        color: white;
        text-decoration: underline;
    }
</style>